<template>
    <lightning-layout>
        <lightning-layout-item class="slds-align-middle slds-align_absolute-center">
            <lightning-combobox class="slds-align-middle" name="" label="" dropdown-alignment='left'
                value={selectedBoatTypeId} placeholder="All Type" options={searchOptions}
                onchange={handleSearchOptionChange}> </lightning-combobox>
        </lightning-layout-item>
    </lightning-layout>
</template>
</template>