<template>
    <lightning-card class="slds-is-relative">
       <!-- The template and lightning-spinner goes here -->
        <template if:true={isLoading}>
            <lightning-spinner 
                variant="brand" alternative-text="Loading">
            </lightning-spinner>
        </template>
       <!-- The lightning-map goes here -->
       <lightning-map map-markers={mapMarkers}> </lightning-map>

       <div slot="footer">Top 10 Only!</div>
    </lightning-card>
  </template>  